<!-- <div>
    <h2>Add Employee</h2>
    <form (ngSubmit)="addEmployee()">
      <label>First Name:</label>
      <input [(ngModel)]="employee.fName" name="fName" required>
      <label>Last Name:</label>
      <input [(ngModel)]="employee.lName" name="lName" required>
      <label>Phone:</label>
      <input [(ngModel)]="employee.phone" name="phone" required>
      <label>Email:</label>
      <input [(ngModel)]="employee.email" name="email" required>
      <label>Salary:</label>
      <input [(ngModel)]="employee.salary" name="salary" type="number" required>
      <button type="submit">Add</button>
    </form>
  </div>
   -->